
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Rumeysa TÜYSÜZ | Anasayfa</title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="~/assets/css/plugins.css" />
<link rel="stylesheet" type="text/css" href="~/assets/css/dark.css" />
<link rel="stylesheet" type="text/css" href="~/assets/css/custom.css" />
<link rel="stylesheet" type="text/css" href="~/assets/css/modalboxes.css" />
<link rel="stylesheet" type="text/css" href="~/assets/css/main.css" />
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
	<!-- WRAPPER ALL -->
	
	<div class="orido_tm_all_wrap w-full float-left clear-both h-auto relative" data-magic-cursor="show">
	
		<!-- MOBILE MENU -->
		<div class="orido_tm_mobile_menu w-full h-auto fixed top-0 left-0 hidden z-[10] middle:block">
			<div class="mobile_menu_inner w-full h-auto float-left clear-both bg-white py-[10px] px-[20px]">
				<div class="mobile_in w-full h-auto clear-both float-left flex items-center justify-between">
					
					<div class="trigger leading-[0]">
						<div class="hamburger hamburger--slider">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown w-full h-auto clear-both float-left bg-white hidden">
				<div class="dropdown_inner w-full h-auto clear-both float-left py-[25px] px-[20px]">
					<ul class="anchor_nav">
						<li class="current float-left w-full"><a class="text-black inline-block p-0 font-medium" href="#home">Anasayfa</a></li>
						<li class="float-left w-full"><a class="text-black inline-block p-0 font-medium" href="#about">Hakkımda</a></li>
						
						<li class="float-left w-full"><a class="text-black inline-block p-0 font-medium" href="#portfolio">Portfolio</a></li>
						<li class="float-left w-full"><a class="text-black inline-block p-0 font-medium" href="#blog">Blog</a></li>
						<li class="float-left w-full"><a class="text-black inline-block p-0 font-medium" href="#contact">İletişim</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->
	
		<!-- HEADER -->
		<div class="orido_tm_header fixed top-0 left-0 right-0 z-[10] py-[25px] px-[150px] transition-all duration-300 middle:hidden">
			<div class="header_in w-full flex items-center justify-between">
				
				<div class="menu relative">
					<ul class="anchor_nav flex items-center">
						<li class="current mr-[50px]"><a class="text-[#5A5A5A]" href="#home">Anasayfa</a></li>
						<li class="mr-[50px]"><a class="text-[#5A5A5A]" href="#about">Hakkımda</a></li>
						
						<li class="mr-[50px]"><a class="text-[#5A5A5A]" href="#portfolio">Portfolio</a></li>
						<li class="mr-[50px]"><a class="text-[#5A5A5A]" href="#blog">Blog</a></li>
						<li><a href="#contact">İletişim</a></li>
					</ul>
					<span class="ccc"></span>
				</div>
			</div>
		</div>
		<!-- /HEADER -->
		
		<!-- HERO -->
		<div class="orido_tm_hero w-full min-h-[100vh] relative float-left" id="home">
			<div class="container min-h-[100vh]">
				<div class="content min-h-[100vh] relative flex items-center justify-between">
					<div class="details w-1/2 pr-[50px]">
						<div class="short mb-[32px]">
							<h2 class="text-[80px] font-medium tracking-[-4px] mb-[11px]">Rumeysa TÜYSÜZ <img class="svg w-[45px] h-[45px] relative left-[-7px]" src="~/assets/img/svg/hi.svg" alt="" /></h2>
							<span class="job inline-block relative text-[24px] pl-[97px]">.Net Developer</span>
						</div>
						<div class="text mb-[70px]">
							<p class="text-[16px] text-[#5A5A5A] leading-[26px] max-w-[400px]">Karabük'te bilgisayar mühendiliği okuyorum.</p>
						</div>
						<div class="buttons flex items-center">
							<div class="orido_tm_boxed_button">
								<a class="anchor" href="#contact">Merhaba <img class="svg" src="~/assets/img/svg/send.svg" alt="" /></a>
							</div>
							<div class="orido_tm_simple_button">
								<a class="line_effect anchor" href="#portfolio">Çalışmalarım <img class="svg" src="~/assets/img/svg/top-arrow.svg" alt="" /></a>
							</div>
						</div>
					</div>
					
				</div>
				<div class="orido_tm_follow absolute bottom-[120px] flex items-center">
					<Beni class="text-[16px] font-medium">Beni Takip Et<span>
					<ul class="flex items-center relative top-[5px] ml-[20px]">
						<li class="mr-[20px]"><a class="inline-block relative w-[56px] h-[56px] bg-[#F6F6F6] rounded-full transition-all duration-300" href="#"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] transition-all duration-300" src="~/assets/img/svg/social/be.svg" alt="" /></a></li>
						<li class="mr-[20px]"><a class="inline-block relative w-[56px] h-[56px] bg-[#F6F6F6] rounded-full transition-all duration-300" href="#"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] transition-all duration-300" src="~/assets/img/svg/social/dribbble.svg" alt="" /></a></li>
						<li><a class="inline-block relative w-[56px] h-[56px] bg-[#F6F6F6] rounded-full transition-all duration-300" href="#"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] transition-all duration-300" src="~/assets/img/svg/social/instagarm.svg" alt="" /></a></li>
					</ul>
				</div>
			</div>
			<div class="orido_tm_down absolute left-[150px] bottom-[45px]">
				<a class="anchor" href="#about"><img class="svg" src="~/assets/img/svg/down_button.svg" alt="" /></a>
			</div>
			<div class="avatar absolute w-1/2 right-0 bottom-[-8px]">
				<div class="img relative inline-block">
					<img class="max-w-[700px] max-h-[760px]" src="~/assets/img/hero/cv_foto.jpg" alt="" />
					
				</div>
			</div>
		</div>
		<!-- /HERO -->
		
		<!-- ABOUT -->
		<div class="orido_tm_section w-full h-auto clear-both float-left" id="about">
			<div class="orido_tm_about w-full h-auto clear-both float-left bg-[#6244C5] px-0 pt-[180px] pb-[120px] mb-[120px]">
				<div class="about_in w-full h-auto max-w-[1070px] mx-auto my-0 flex items-center">
					<div class="left w-1/2 pr-[50px]">
						<div class="box bg-[#FFC448] inline-block overflow-hidden pb-[85px] relative">
							<h3 class="year font-oswald tracking-[-4px] font-extrabold text-[395px] relative mr-[-30px] mt-[-95px] text-[#6244C5] leading-[1]">20</h3>
							<span class="experience text-[24px] pl-[50px] mt-[6px] inline-block">Yıllık Tecrübe</span>
							<h3 class="name text-[80px] text-[#6244C5] font-bold tracking-[-4px] leading-[1] uppercase absolute bottom-[-30px] left-[-20px] w-[300%]">Rumeysa </h3>
						</div>
					</div>
					<div class="right w-1/2 relative">
						<span class="element absolute top-0 right-full mr-[15px] mt-[-20px]"><img class="svg w-[80px] h-[80px] text-transparent" src="~/assets/img/svg/element.svg" alt="" /></span>
						<div class="orido_tm_main_title w-full float-left mb-[30px]">
							<h3 class="text-white tracking-[-2px] text-[56px] font-bold"><span class="relative">Hakkımda</span></h3>
						</div>
						<div class="text w-full float-left mb-[50px]">
							<p class="text-[rgba(255,255,255,.7)] font-light leading-[32px]">Karabük üniveristesinde 3. sınıf bilgisayar mühendisliği öğrencisiyim. </p>
						</div>
						<div class="short w-full float-left flex items-center">
							<div class="orido_tm_boxed_button">
								<a href="~/assets/img/cv/1.jpg" download>CV'mi indir' <img class="svg" src="~/assets/img/svg/paper.svg" alt="" /></a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /ABOUT -->
		
		<!-- INFORMATIONS -->
		<div class="orido_tm_section w-full h-auto clear-both float-left">
			<div class="orido_tm_informations w-full h-auto clear-both float-left mb-[125px]">
				<div class="container">
					<div class="informations_inner w-full h-auto flex">
						<div class="left w-1/2 pr-[100px]">
							<div class="orido_tm_main_title w-full float-left">
								<h3 class="tracking-[-2px] text-[56px] font-bold"><span class="relative">Deneyimlerim ve <br />Yeteneklerim</span></h3>
							</div>
							<div class="text w-full float-left mt-[30px] mb-[40px]">
								<p class="mb-[35px]">Bilgi ve becerilerim arasında .Net Core, veritabanları ve C dili bulunmaktadır. Bu alandaki yeteneklerimi geliştirmeye devam ederek, yazılım dünyasında kendimi sürekli yeniliyorum. Problem çözme becerilerim ve analitik düşünce yapım, bilgisayar mühendisliği alanındaki çeşitli projelerde etkili olmama yardımcı oluyor. Aynı zamanda öğrenmeye ve teknolojik gelişmelere açık bir birey olarak, sektördeki yenilikleri yakından takip ediyorum ve kariyerimdeki ilerlemeye odaklanıyorum.</p>
							</div>
							<div class="orido_tm_boxed_button">
								<a href="#">Öz Geçmişim <img class="svg" src="~/assets/img/svg/paper.svg" alt="" /></a>
							</div>
						</div>
						<div class="right w-1/2 top-[33px] relative">
							<div class="filter w-full float-left relative">
								<ul>
									<li class="mr-[70px] inline-block"><a class="current text-main-color font-dm font-bold inline-block relative" href="#" data-tab="tab_1"><span class="relative inline-block">Yeteneklerim</span> <img class="svg w-[24px] h-[24px] relative ml-[6px]" src="~/assets/img/svg/top-arrow.svg" alt="" /></a></li>
									<li class="mr-[70px] inline-block"><a class="text-main-color font-dm font-bold inline-block relative" href="#" data-tab="tab_2"><span class="relative inline-block">Deneyimlerim</span> <img class="svg w-[24px] h-[24px] relative ml-[6px]" src="~/assets/img/svg/top-arrow.svg" alt="" /></a></li>
									<li class="inline-block"><a class="text-main-color font-dm font-bold inline-block relative" href="#" data-tab="tab_3"><span class="relative inline-block">Eğitimlerim</span <img class="svg w-[24px] h-[24px] relative ml-[6px]" src="~/assets/img/svg/top-arrow.svg" alt="" /></a></li>
								</ul>
								<span class="ccc"></span>
							</div>
							<div class="content w-full float-left">
								<div id="tab_1" class="wrapper current w-full h-auto clear-both float-left">
									<div class="skillbox w-full float-left mt-[110px]">
										<ul class="ml-[-20px]">
											<li class="mb-[45px] w-1/3 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<span class="icon w-[40px] h-[40px] rounded-full bg-main-color inline-block relative mb-[3px]"><span class="in w-[25px] h-[25px] inline-block absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white rounded-[6px]"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[1] w-[16px] h-[16px]" src="~/assets/img/svg/figma.svg" alt="" /></span></span>
													<p class="name font-dm text-black">.Net <span class="font-bold">(80%)</span></p>
												</div>
											</li>
											<li class="mb-[45px] w-1/3 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<span class="icon w-[40px] h-[40px] rounded-full bg-main-color inline-block relative mb-[3px]"><span class="in w-[25px] h-[25px] inline-block absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white rounded-[6px]"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[1] w-[16px] h-[16px]" src="~/assets/img/svg/Ae.svg" alt="" /></span></span>
													<p class="name font-dm text-black">Veri Tabanı <span class="font-bold">(20%)</span></p>
												</div>
											</li>
											<li class="mb-[45px] w-1/3 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<span class="icon w-[40px] h-[40px] rounded-full bg-main-color inline-block relative mb-[3px]"><span class="in w-[25px] h-[25px] inline-block absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white rounded-[6px]"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[1] w-[16px] h-[16px]" src="~/assets/img/svg/photoshop.svg" alt="" /></span></span>
													<p class="name font-dm text-black">C <span class="font-bold">(50%)</span></p>
												</div>
											</li>
											<li class="mb-[45px] w-1/3 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<span class="icon w-[40px] h-[40px] rounded-full bg-main-color inline-block relative mb-[3px]"><span class="in w-[25px] h-[25px] inline-block absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white rounded-[6px]"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[1] w-[16px] h-[16px]" src="~/assets/img/svg/Xd.svg" alt="" /></span></span>
													<p class="name font-dm text-black">C# <span class="font-bold">(60%)</span></p>
												</div>
											</li>
											<li class="mb-[45px] w-1/3 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<span class="icon w-[40px] h-[40px] rounded-full bg-main-color inline-block relative mb-[3px]"><span class="in w-[25px] h-[25px] inline-block absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white rounded-[6px]"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[1] w-[16px] h-[16px]" src="~/assets/img/svg/illustrator.svg" alt="" /></span></span>
													<p class="name font-dm text-black">Python <span class="font-bold">(70%)</span></p>
												</div>
											</li>
											<li class="mb-[45px] w-1/3 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<span class="icon w-[40px] h-[40px] rounded-full bg-main-color inline-block relative mb-[3px]"><span class="in w-[25px] h-[25px] inline-block absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] bg-white rounded-[6px]"><img class="svg absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] z-[1] w-[16px] h-[16px]" src="~/assets/img/svg/Id.svg" alt="" /></span></span>
													<p class="name font-dm text-black">Php <span class="font-bold">(75%)</span></p>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div id="tab_2" class="wrapper w-full h-auto clear-both float-left">
									<div class="timelinebox w-full float-left mt-[100px]">
										<ul class="ml-[-20px]">
											<li class="mb-[37px] w-1/2 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<div class="time w-full float-left mb-[25px]">
														<span class="year text-[#6244C5] block mb-[2px]">2021 - Present</span>
														<span class="company">Tüysüz Software Inc.</span>
													</div>
													<div class="job w-full float-left">
														<h3 class="text-[21px]"><span class="inline-block relative">CTO | .Net Developer</span></h3>
													</div>
												</div>
											</li>
											
										</ul>
									</div>
								</div>
								<div id="tab_3" class="wrapper w-full h-auto clear-both float-left">
									<div class="timelinebox w-full float-left mt-[100px]">
										<ul class="ml-[-20px]">
											<li class="mb-[37px] w-1/2 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<div class="time w-full float-left mb-[25px]">
														<span class="year text-[#6244C5] block mb-[2px]">2021 - Present</span>
														<span class="company">Karabük Üniversitesi</span>
													</div>
													<div class="job w-full float-left">
														<h3 class="text-[21px]"><span class="inline-block relative">Bilgisayar Mühendisliği</span></h3>
													</div>
												</div>
											</li>
											<li class="mb-[37px] w-1/2 float-left pl-[20px]">
												<div class="list_inner w-full h-auto clear-both float-left relative">
													<div class="time w-full float-left mb-[25px]">
														<span class="year text-[#6244C5] block mb-[2px]">2016 - 2020</span>
														<span class="company">Nurullah Sabırer Fen Lisesi</span>
													</div>
													<div class="job w-full float-left">
														<h3 class="text-[21px]"><span class="inline-block relative">Art Director Course</span></h3>
													</div>
												</div>
											</li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /INFORMATIONS -->
		
		<!-- COUNTER -->
		<div class="orido_tm_section w-full h-auto clear-both float-left">
			<div class="orido_tm_counter w-full h-auto clear-both float-left mb-[92px]">
				<div class="container">
					<div class="counter_list w-full h-auto clear-both float-left">
						<ul class="ml-[-30px]">
							<li class="mb-[30px] float-left pl-[30px] w-1/4 text-center">
								<div class="list_inner w-full h-auto clear-both float-left relative">
									<h3 class="font-normal text-[64px] font-kaushan mb-[10px] relative z-[2]"><span class="counter_item" data-from="0" data-to="75" data-speed="2000">0</span></h3>
									<span class="title relative z-[2]">Bardak Kahve İçildi</span>
								</div>
							</li>
							<li class="mb-[30px] float-left pl-[30px] w-1/4 text-center">
								<div class="list_inner w-full h-auto clear-both float-left relative">
									<h3 class="font-normal text-[64px] font-kaushan mb-[10px] relative z-[2]"><span class="counter_item" data-from="0" data-to="225445" data-speed="2000">0</span></h3>
									<span class="title relative z-[2]">Saat Kodlama Yapıldı</span>
								</div>
							</li>
							<li class="mb-[30px] float-left pl-[30px] w-1/4 text-center">
								<div class="list_inner w-full h-auto clear-both float-left relative">
									<h3 class="font-normal text-[64px] font-kaushan mb-[10px] relative z-[2]"><span class="counter_item" data-from="0" data-to="527" data-speed="2000">0</span></h3>
									<span class="title relative z-[2]">Proje Yapıldı</span>
								</div>
							</li>
							<li class="mb-[30px] float-left pl-[30px] w-1/4 text-center">
								<div class="list_inner w-full h-auto clear-both float-left relative">
									<h3 class="font-normal text-[64px] font-kaushan mb-[10px] relative z-[2]"><span class="counter_item" data-from="0" data-to="1000" data-speed="2000">0</span></h3>
									<span class="title relative z-[2]"> Celalettin'e kızıldı</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /COUNTER -->
		
		
		
		<!-- PORTFOLIO -->
		<div class="orido_tm_section w-full h-auto clear-both float-left" id="portfolio">
			<div class="orido_tm_portfolio w-full h-auto clear-both float-left bg-[#FFC448] px-0 pt-[120px] pb-[110px]">
				<div class="container">
					<div class="orido_tm_main_title w-full float-left">
						<h3 class="tracking-[-2px] text-[56px] font-bold"><span class="relative">Son projelerime<br />bakın</span></h3>
					</div>
					<div class="portfolio_list w-full h-auto clear-both float-left mt-[65px] relative">
						<ul class="owl-carousel gallery_zoom relative">
							<li>
								<div class="list_inner">
									<div class="image relative overflow-hidden">
										<img class="opacity-0 relative min-w-full" src="~/assets/img/thumbs/37-40.jpg" alt="" />
										<div class="main absolute inset-0 bg-no-repeat bg-cover bg-center transition-all duration-300" data-img-url="~/assets/img/portfolio/1.jpg"></div>
									</div>
									<div class="details w-full float-left mt-[30px]">
										<span class="category text-[20px] inline-block mb-[13px]">Youtube</span>
										<h3 class="title text-[32px] tracking-[-1px] font-medium"><span class="inline-block relative">Car Export</span></h3>
									</div>
									<a class="orido_tm_full_link absolute inset-0 z-[5] popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"></a>
								</div>
							</li>
							
						</ul>
						<a class="prev_button" href="#"><img class="svg absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] w-[30px] h-[30px] transition-all duration-300 ml-[-1px]" src="~/assets/img/svg/prev.svg" alt="" /></a>
						<a class="next_button" href="#"><img class="svg absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] w-[30px] h-[30px] transition-all duration-300 ml-[1px]" src="~/assets/img/svg/next.svg" alt="" /></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /PORTFOLIO -->
		
		<!-- TESTIMONIALS -->
		<div class="orido_tm_section w-full h-auto clear-both float-left">
			<div class="orido_tm_testimonials w-full h-auto clear-both float-left bg-[#fafafb] px-0 py-[120px]">
				<div class="container">
					<div class="orido_tm_main_title w-full float-left">
						<h3 class="tracking-[-2px] text-[56px] font-bold"><span class="relative">Referanslarım </span></h3>
					</div>
					<div class="testimonials_in w-full h-auto clear-both flex items-center pt-[75px]">
						<img class="max-h-[400px] max-w-[350px]" src="~/assets/img/testimonials/1.jpg" alt="" />
						<div class="info pl-[70px]">
							<div class="text w-full float-left mb-[40px]">
								<p class="text-[24px] font-medium leading-[36px] font-dm">“Awesome website! Easy to use and edit, it has a lot of options to design whatever you need, it is professional and fun. I was very successful creating my profile using designer which gave me unbelievable reach &amp; appreciation.”</p>
							</div>
							<div class="details w-full float-left pl-[41px]">
								<h3 class="name text-[24px] font-bold mb-[7px]"><span class="relative inline-block">Celalettin Aydemir</span></h3>
								<span class="job text-[19px] text-[#707070]">Co-founder </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /TESTIMONIALS -->
		
		@* <!-- NEWS -->
		<div class="orido_tm_section w-full h-auto clear-both float-left" id="blog">
			<div class="orido_tm_news w-full h-auto clear-both float-left pt-[120px]">
				<div class="container">
					<div class="orido_tm_main_title w-full float-left">
						<h3 class="tracking-[-2px] text-[56px] font-bold"><span class="relative">Bloglarım</span></h3>
					</div>
					<div class="news_list w-full h-auto clear-both float-left mt-[100px]">
						<ul class="ml-[-30px]">
							<li class="mb-[30px] float-left pl-[30px] w-1/2">
								<div class="list_inner w-full h-auto clear-both float-left relative flex items-center bg-[rgba(255,246,217,.4)] py-[20px] pr-[20px] pl-[30px]">
									<div class="left w-1/2 relative z-[1] pr-[10px]">
										<div class="metabox w-full float-left mb-[10px]">
											<ul>
												<li class="mr-[15px] inline-block">
													<span class="text-[16px] relative pl-[10px]"><a class="text-main-color transition-all duration-300" href="#">Rumeysa Tüysüz</a></span>
												</li>
												<li class="inline-block">
													<span class="text-[16px] relative pl-[10px]">02 June, 2022</span>
												</li>
											</ul>
										</div>
										<div class="title w-full float-left mb-[43px]">
											<h3 class="leading-[.9]"><a href="#">Diversification of digital marketing stategies</a></h3>
										</div>
										<div class="orido_tm_simple_button">
											<a class="line_effect" href="#">Read More <img class="svg" src="~/assets/img/svg/top-arrow.svg" alt="" /></a>
										</div>
									</div>
									<div class="right w-1/2 relative z-[1] overflow-hidden">
										<img class="relative opacity-0 min-w-full" src="~/assets/img/thumbs/24-20.jpg" alt="" />
										<div class="main absolute inset-0 bg-no-repeat bg-cover bg-center transition-all duration-300" data-img-url="~/assets/img/news/1.jpg"></div>
										<a class="orido_tm_full_link absolute inset-0 z-[5]" href="#"></a>
									</div>
									<span class="shape absolute top-0 right-0 bottom-0"><img class="svg w-full h-full" src="~/assets/img/svg/Intersect.svg" alt="" /></span>
									
									<!-- Modalbox Info Start -->
									<div class="news_hidden_details">
										<div class="news_popup_informations">
											<div class="text">
												<p>Orido is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
												<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
												<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Orido, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
											</div>
										</div>
									</div>
									<!-- /Modalbox Info End -->

								</div>
							</li>
							<li class="mb-[30px] float-left pl-[30px] w-1/2">
								<div class="list_inner w-full h-auto clear-both float-left relative flex items-center bg-[rgba(255,246,217,.4)] py-[20px] pr-[20px] pl-[30px]">
									<div class="left w-1/2 relative z-[1] pr-[10px]">
										<div class="metabox w-full float-left mb-[10px]">
											<ul>
												<li class="mr-[15px] inline-block">
													<span class="text-[16px] relative pl-[10px]"><a class="text-main-color transition-all duration-300" href="#">Rumeysa Tüysüz</a></span>
												</li>
												<li class="inline-block">
													<span class="text-[16px] relative pl-[10px]">02 June, 2022</span>
												</li>
											</ul>
										</div>
										<div class="title w-full float-left mb-[43px]">
											<h3 class="leading-[.9]"><a href="#">Diversification of digital marketing stategies</a></h3>
										</div>
										<div class="orido_tm_simple_button">
											<a class="line_effect" href="#">Read More <img class="svg" src="~/assets/img/svg/top-arrow.svg" alt="" /></a>
										</div>
									</div>
									<div class="right w-1/2 relative z-[1] overflow-hidden">
										<img class="relative opacity-0 min-w-full" src="~/assets/img/thumbs/24-20.jpg" alt="" />
										<div class="main absolute inset-0 bg-no-repeat bg-cover bg-center transition-all duration-300" data-img-url="~/assets/img/news/2.jpg"></div>
										<a class="orido_tm_full_link absolute inset-0 z-[5]" href="#"></a>
									</div>
									<span class="shape absolute top-0 right-0 bottom-0"><img class="svg w-full h-full" src="~/assets/img/svg/Intersect.svg" alt="" /></span>
									
									<!-- Modalbox Info Start -->
									<div class="news_hidden_details">
										<div class="news_popup_informations">
											<div class="text">
												<p>Orido is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
												<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
												<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Orido, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
											</div>
										</div>
									</div>
									<!-- /Modalbox Info End -->
									
								</div>
							</li>
							<li class="mb-[30px] float-left pl-[30px] w-1/2">
								<div class="list_inner w-full h-auto clear-both float-left relative flex items-center bg-[rgba(255,246,217,.4)] py-[20px] pr-[20px] pl-[30px]">
									<div class="left w-1/2 relative z-[1] pr-[10px]">
										<div class="metabox w-full float-left mb-[10px]">
											<ul>
												<li class="mr-[15px] inline-block">
													<span class="text-[16px] relative pl-[10px]"><a class="text-main-color transition-all duration-300" href="#">Rumeysa Tüysüz</a></span>
												</li>
												<li class="inline-block">
													<span class="text-[16px] relative pl-[10px]">02 June, 2022</span>
												</li>
											</ul>
										</div>
										<div class="title w-full float-left mb-[43px]">
											<h3 class="leading-[.9]"><a href="#">Diversification of digital marketing stategies</a></h3>
										</div>
										<div class="orido_tm_simple_button">
											<a class="line_effect" href="#">Read More <img class="svg" src="~/assets/img/svg/top-arrow.svg" alt="" /></a>
										</div>
									</div>
									<div class="right w-1/2 relative z-[1] overflow-hidden">
										<img class="relative opacity-0 min-w-full" src="~/assets/img/thumbs/24-20.jpg" alt="" />
										<div class="main absolute inset-0 bg-no-repeat bg-cover bg-center transition-all duration-300" data-img-url="~/assets/img/news/3.jpg"></div>
										<a class="orido_tm_full_link absolute inset-0 z-[5]" href="#"></a>
									</div>
									<span class="shape absolute top-0 right-0 bottom-0"><img class="svg w-full h-full" src="~/assets/img/svg/Intersect.svg" alt="" /></span>
									
									<!-- Modalbox Info Start -->
									<div class="news_hidden_details">
										<div class="news_popup_informations">
											<div class="text">
												<p>Orido is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
												<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
												<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Orido, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
											</div>
										</div>
									</div>
									<!-- /Modalbox Info End -->
									
								</div>
							</li>
							<li class="mb-[30px] float-left pl-[30px] w-1/2">
								<div class="list_inner w-full h-auto clear-both float-left relative flex items-center bg-[rgba(255,246,217,.4)] py-[20px] pr-[20px] pl-[30px]">
									<div class="left w-1/2 relative z-[1] pr-[10px]">
										<div class="metabox w-full float-left mb-[10px]">
											<ul>
												<li class="mr-[15px] inline-block">
													<span class="text-[16px] relative pl-[10px]"><a class="text-main-color transition-all duration-300" href="#">Rumeysa Tüysüz</a></span>
												</li>
												<li class="inline-block">
													<span class="text-[16px] relative pl-[10px]">02 June, 2022</span>
												</li>
											</ul>
										</div>
										<div class="title w-full float-left mb-[43px]">
											<h3 class="leading-[.9]"><a href="#">Diversification of digital marketing stategies</a></h3>
										</div>
										<div class="orido_tm_simple_button">
											<a class="line_effect" href="#">Read More <img class="svg" src="~/assets/img/svg/top-arrow.svg" alt="" /></a>
										</div>
									</div>
									<div class="right w-1/2 relative z-[1] overflow-hidden">
										<img class="relative opacity-0 min-w-full" src="~/assets/img/thumbs/24-20.jpg" alt="" />
										<div class="main absolute inset-0 bg-no-repeat bg-cover bg-center transition-all duration-300" data-img-url="~/assets/img/news/4.jpg"></div>
										<a class="orido_tm_full_link absolute inset-0 z-[5]" href="#"></a>
									</div>
									<span class="shape absolute top-0 right-0 bottom-0"><img class="svg w-full h-full" src="~/assets/img/svg/Intersect.svg" alt="" /></span>
									
									<!-- Modalbox Info Start -->
									<div class="news_hidden_details">
										<div class="news_popup_informations">
											<div class="text">
												<p>Orido is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
												<p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
												<p>That’s why more companies are not only reevaluating their website’s design but also partnering with Orido, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
											</div>
										</div>
									</div>
									<!-- /Modalbox Info End -->
									
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /NEWS --> *@
		
		
		
		<!-- CONTACT -->
		<div class="orido_tm_section w-full h-auto clear-both float-left" id="contact">
			<div class="orido_tm_contact w-full h-auto clear-both float-left bg-main-color px-0 pt-[135px] pb-[120px] relative">
				<div class="container">
					<div class="infobox w-full float-left flex items-center justify-between mb-[116px]">
						
						<div class="text py-0 px-[115px]">
							<h3 class="font-bold text-[56px] tracking-[-2px] text-white mb-[25px]">Birlikte Çalışalım</h3>
							
						</div>
						<div class="orido_tm_boxed_button">
							<a href="#">İletişime Geç <img class="svg" src="~/assets/img/svg/send.svg" alt="" /></a>
						</div>
					</div>
					<div class="connect w-full flex items-center justify-between">
						<div class="left">
							<ul>
								<li class="inline-block">
									<span class="name block text-[rgba(255,255,255,.5)] text-[16px] mb-[10px]">Email:</span>
									<p class="block text-white text-[36px] font-dm font-medium"><a class="line_effect text-white" href="#">rumeysatysz2002@gmail.com</a></p>
								</li>
							</ul>
						</div>
						<div class="right">
							<div class="orido_tm_follow flex items-center">
								<span>Follow me:</span>
								<ul class="flex items-center relative top-[5px] ml-[20px]">
									<li class="mr-[20px]"><a class="inline-block relative w-[56px] h-[56px] bg-[#f6f6f6] rounded-full transition-all duration-300" href="#"><img class="svg absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] transition-all duration-300" src="~/assets/img/svg/social/be.svg" alt="" /></a></li>
									<li class="mr-[20px]"><a class="inline-block relative w-[56px] h-[56px] bg-[#f6f6f6] rounded-full transition-all duration-300" href="#"><img class="svg absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] transition-all duration-300" src="~/assets/img/svg/social/dribbble.svg" alt="" /></a></li>
									<li><a class="inline-block relative w-[56px] h-[56px] bg-[#f6f6f6] rounded-full transition-all duration-300" href="#"><img class="svg absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] transition-all duration-300" src="~/assets/img/svg/social/instagarm.svg" alt="" /></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<span class="element absolute bottom-[-60px] left-0"><img class="svg w-full h-full text-transparent" src="~/assets/img/svg/elements.svg" alt="" /></span>
				<span class="element2 absolute right-[200px] top-[150px]"><img class="svg w-full h-full text-transparent" src="~/assets/img/svg/element-2.svg" alt="" /></span>
			</div>
		</div>
		<!-- /CONTACT -->
		
		<!-- COPYRIGHT -->
		<div class="orido_tm_section w-full h-auto clear-both float-left">
			<div class="orido_tm_copyright w-full h-auto clear-both float-left bg-[#FFC448] py-[25px] px-0">
				<div class="container">
					<div class="copyright_inner w-full h-auto clear-both flex items-center justify-between">
						
						<div class="copy">
							<p class="text-main-color text-[16px] font-medium">&copy; 2023 by <a class="text-main-color" href="#" target="_blank">By Rumeysa TUYSUZ 10.12.2023.</a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /COPYRIGHT -->
			
		<!-- CURSOR -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /CURSOR -->
			
		<!-- TOTOP -->
		<div class="progressbar">
			<a href="#"><span class="text">To Top</span></a>
			<span class="line"></span>
		</div>
		<!-- /TOTOP -->
				
	</div>
	<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="~/assets/js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="~/assets/js/plugins.js"></script>
<script src="~/assets/js/init.js"></script>
<!-- /SCRIPTS -->

</body>
</html>